.root {
}
.contentarea4 {
  width: 400px;
  display: inline-block;
  border-radius: 25px;
  margin: 150px 25px 25px;
  padding: 0px 0px 0px 20px;
}
.contentarea3box1 {
  background-color: #4a6ecc;
  border-radius: 25px;
  height: 300px;
  margin: 10px 0px 0px;
  padding: 10px;
}
.contentarea3box2 {
}
.contentarea3box3 {
  margin-top: 30px;
  border-radius: 25px;
  background-color: #ffffff;
  height: 400px;
  padding: 10px;
}
