.root {
  width: 800px;
}
.content1 {
  display: inline-block;
  padding: 10px;
  margin-right: 100px;
  text-align: start;
}
.formbox1 {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #969b9f;
  width: 400px;
}

.formbox1:hover {
  border: 1px solid #5bcfc6;
}
.conent2 {
}
.content2 {
}
.content2 {
}
.content3 {
}
.content2 {
}
.content2 {
}
.content4 {
}
.cbox {
}
.contentbox3 {
}
.contentbox4 {
}
.c {
}
