.root {
}
.headbar {
  border-radius: 15px;
  background-color: #467ace;
  min-height: 25px;
  height: 25px;
  display: block;
  width: 1300px;
  min-width: 1300px;
}
.headbartop {
  overflow: auto;
  display: block;
  flex-direction: column;
  width: 1300px;
  min-width: 1300px;
  height: 25px;
}
